.mc {
  &-button {
    $normalButtonWidth: 40px;
    $widenButtonWidth: 80px;
    $borderColor: rgba(0, 0, 0, .17);
    $borderBottomColor: rgba(0, 0, 0, .2);
    $lineHeight: 2.4rem;

    min-width: $normalButtonWidth;
    height: $lineHeight;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: $borderRadius;
      border-width: 1px;
      border-style: solid;
      border-color: $borderColor;
      border-bottom-color: $borderBottomColor;
    }

    @mixin emptyButton {
      display: inline-block;
      overflow: hidden;
      border-radius: $borderRadius;
      margin: $marginX;
      flex-shrink: 0;
      text-align: center;
      border: none;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    }

    $borderRadius: 5px;
    $bgColor: linear-gradient(180deg, rgb(250, 250, 250), rgb(240, 240, 240));
    -webkit-appearance: none;
    $btnSelector: &;
    $marginX: 0 4px;
    position: relative;

    @include emptyButton;
    background: $bgColor;
    padding: 0 $buttonPadding;
    line-height: calc(#{$lineHeight} - 2px);
    font-size: $buttonFontSize;
    box-sizing: border-box;
    outline: none;

    &_widen {
      min-width: $widenButtonWidth;
      padding: 0 $buttonPadding*2;
    }

    &_tinted {
      background: var(--accent-color);
      color: white !important;
      &:active {
        filter: brightness(0.9);
      }
    }

    &_disabled {
      /*color: rgba(0,0,0,.4) !important;
      background-color: var(--accent-color-on-blur) !important;*/
      cursor: not-allowed;
      pointer-events: none;
      opacity: 0.3;
    }

    &:active,
    &_active {
      background: rgb(230, 230, 230);
      color: var(--text-color-primary);
    }

    &_selected {
      background: rgb(105, 105, 105);
      color: white;
    }

    &-group {
      $dividerColor: rgb(221, 221, 221);

      @include emptyButton;
      border: none;
      position: relative;

      &::after {
        content: "";
        border-radius: $borderRadius;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: 1px solid;
        border-color: $borderColor;
        pointer-events: none;
      }

      #{$btnSelector} {
        border-radius: 0;
        border: none;
        margin: 0;
        border-right: 1px solid $dividerColor;
        &::before {
          display: none;
        }
      }
      #{$btnSelector}:last-of-type {
        border-right: none;
      }
    }
  }

  &-option-button-wrapper {
    flex-shrink: 0;
    .option-button {
      position: relative;
      padding-right: 17px;
      &::after {
        position: absolute;
        content: "";
        font-family: mnf;
        font-size: 15px;
        width: 15px;
        height: 10px;
        display: inline-block;
        transform: translateY(-50%) scale(0.25);
        right: 2px;
        top: 50%;
        transform-origin: center;
        color: inherit;
      }
    }
  }
}

.dialog-button {
  &:active {
    background: var(--accent-color);
    color: white !important;
  }
}
