@import "mnf.scss";
@import "varibles.scss";
@import "mixin/base.scss";

html {
  --webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
}

@font-face {
  font-family: "SHSC";
  src: url(../assets/font/SourceHanSansCN-Normal.otf);
  font-weight: normal;
}

@font-face {
  font-family: "SHSC";
  src: url(../assets/font/SourceHanSansCN-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: "SHSC";
  src: url(../assets/font/SourceHanSansCN-Bold.otf);
  font-weight: bold;
}

body {
  width: 100%;
  margin: 0;
  outline: none;
  padding: 0;
  background-color: var(--background-color-main);
}

.app {
  position: relative;
  box-sizing: border-box;
  @include flex(column);
  height: 100%;
  overflow: hidden;
  background: url(../assets/images/desktop.jpg) no-repeat center;
  background-size: cover;
  font-size: $txtSizeN;
  min-width: 1024px;
  overflow-x: auto;
  color: var(--txt-color-primary);
  .secondary-txt {
    font-size: $txtSizeN;
    color: var(--txt-color-secondary);
  }

  * {
    //-webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    font-family: "苹方", "PingFang SC", "苹方-简", SHSC, "黑体", "微软雅黑", "华文细黑", "Heiti SC", "Myriad Pro", Arial, Helvetica, sans-serif;
  }

  input,
  text,
  div[contenteditable] {
    user-select: initial;
  }

  .list-item-focused {
    * {
      color: white !important;
    }
    background-color: var(--accent-color) !important;
    color: white;
  }

  .list-item-selected {
    background-color: var(--accent-color-on-blur);
  }

  .blur-bg {
    background-color: var(--translucent-bg-color);
    @include backdrop-filter($tranBgBlurEffect);
    .list-item-focused {
      background-color: var(--translucent-accent-color) !important;
    }
    .list-item-selected {
      background-color: var(--translucent-accent-color-on-blur);
    }
  }

  .secondary-text {
    color: var(--txt-color-secondary);
    * {
      color: var(--txt-color-secondary);
    }
  }

  .bold {
    font-weight: bold;
  }
}

.unselect-txt,
.placeholder-txt {
  font-size: $txtSizeN;
  color: var(--label-color-unselected);
}

.primart-txt {
  font-size: $txtSizeN;
  color: var(--txt-color-primary);
}

.flex-box_verticle {
  display: flex;
  flex-direction: column;
  .content-wrapper {
    flex: 1;
  }
}

p {
  margin: 0;
}

.text-trim-ellipsis {
  @include text-trim-ellipsis;
}

div,
ul {
  $scrollWidth:8px;
  &::-webkit-scrollbar {
    width: $scrollWidth;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $scrollWidth/2;
    background-color: rgba(85, 85, 85, 0.5);
  }
}

.abs-fill-parent {
  @include abs(0,0,0,0);
}

.simple-fullscreen-loading {
  @include abs(0,0,0,0);
  position: fixed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 113.34 114.3'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c,.d,.e,.f,.g,.h%7Bfill:%23fff;%7D.a%7Bopacity:0.22;%7D.b%7Bopacity:0.66;%7D.c%7Bopacity:0.46;%7D.d%7Bopacity:0.9;%7D.f%7Bopacity:0.58;%7D.g%7Bopacity:0.34;%7D.h%7Bopacity:0.78;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3E资源 32%3C/title%3E%3Ccircle class='a' cx='56.67' cy='12.46' r='12.46'/%3E%3Ccircle class='b' cx='56.67' cy='101.84' r='12.46'/%3E%3Cpath class='c' d='M100.88,69.61a12.46,12.46,0,1,1,12.46-12.46A12.47,12.47,0,0,1,100.88,69.61Z'/%3E%3Cpath class='d' d='M12.46,69.61A12.46,12.46,0,1,1,24.91,57.15,12.47,12.47,0,0,1,12.46,69.61Z'/%3E%3Cpath class='e' d='M25.07,38a12.46,12.46,0,1,1,8.8-3.65A12.34,12.34,0,0,1,25.07,38Z'/%3E%3Cpath class='f' d='M88.27,101.21a12.46,12.46,0,1,1,8.81-3.65A12.38,12.38,0,0,1,88.27,101.21Z'/%3E%3Cpath class='g' d='M87.93,38.34a12.46,12.46,0,1,1,8.81-3.65A12.34,12.34,0,0,1,87.93,38.34Z'/%3E%3Cpath class='h' d='M25.41,100.87a12.46,12.46,0,1,1,8.8-3.65A12.38,12.38,0,0,1,25.41,100.87Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 50px;
  filter: drop-shadow(0px 0px 4px rgba(0,0,0,.3));
}

@import "component/all.scss";
